/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signatures
{
  align-items: center;
  justify-content: left;
  width: 25%;
  height: 10%;
  padding-left: 10rem;
}

.avatar {
  border-radius: 50%;
  align-items: end;
  justify-content: left;
  width: 5%;
  height: 5%;
}
